extends ../layouts/main-layout.pug



block content
    if(action !== 'undefined' && action === 'delete')
        .alert.alert-danger The product has been deleted.
    if(action !== 'undefined' && action === 'edit')
        .alert.alert-success The product has been updated.

    if products.length > 0
        table.table.table-bordered 
            thead 
                tr  
                    th Image 
                    th Product Name 
                    th Price 
                    th 
            tbody 
                each product in products 
                    tr 
                        td 
                            img(src=`/img/${product.imageUrl}` width='200px')
                        td #{product.name}
                        td #{product.price} TL
                        td
                            a.btn.btn-success.m-2(href=`/admin/products/${product.id}`) Edit

                            form(action='/admin/delete-product' method='POST')
                                input(type="hidden" name="productid" value=`${product.id}`)
                                button(type="submit").btn.btn-danger Delete
    else 
        h1 No Products                        
     
        
    
