//- Dinamik içeriklerin olduğu ve tekrarlanan yerleri mixin ile fonksiyon oluşturur gibi yapıyoruz.
mixin createProduct(product)
      div.col-md-4
            div.card.mb-4
                img(src=`/img/${product.imageUrl}` alt=`${product.description}`).card-img-top
                div.card-body
                    h4.card-title
                        a( href=`/products/${product.id}`) #{product.name}
                    
                    small.text-muted
                        i.fa.fa-try #{product.price}
                    
                div
                div.card-footer.text-center
                    a(href=`/products/${product.id}`).btn.btn-primary.btn-sm Details
                    
                    a(href="#").btn.btn-primary.btn-sm.ms-3 Add To Cart    
                div
            div